.features {
  padding: 40px 0;
  background: #f3f3f3;
}

.features-item {
  display: inline-block;
  background: #e3e3e3;
  max-width: 450px;
  padding: 10px 50px;
  height: 350px;
}

.features-item p {
  margin-bottom: 1em;
}
