.features {
  padding: 40px 0;
  background: #f3f3f3;
}

.features-members {
  padding-top: 40px;
  text-align: center;
}

.features-details-block {
  margin-left: 200px;
}

.features-details {
  display: inline-block;
  background: #e3e3e3;
  max-width: 250px;
  padding: 10px 50px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.features-image {
  float: left;
  max-width: 250px;
  margin-bottom: 1em;
}

.features-photo {
  border: 2px solid blue;
  border-radius: 5px;
  height: auto;
  width: 200px;
}
