.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #aaaaaa;
}

.footer p {
  text-align: center;
  padding: .5em;
}

@media (max-width: 1100px) {
  .footer {
    position: inherit;
    width: auto;
    background: #aaaaaa;
  }
}