.buffer-top {
  margin-top: 20px;
}

.buffer-both {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.col {
  box-sizing: border-box;
  float: left;
}

.column-1-2 {
  width: 50%;
}

.column-1-3 {
  width: 33.33%;
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 480px) {
  .column-1-2 {
    float: none;
    width: auto;
  }
}

@media (max-width: 640px) {
  .column-1-3 {
    float: none;
    width: auto;
  }
}

