.buffer-both {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.column-60 {
  width: 60%;
  float: left;
}

.column-40 {
  width: 40%;
  float: left;
}

.column-1-2 {
  width: 50%;
  float: left;
}

.column-1-3 {
  width: 33.33%;
  float: left;
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 640px) {
  .column-1-3 {
    float: none;
    width: auto;
  }
}

@media (max-width: 480px) {
  .column-60,
  .column-40,
  .column-1-2 {
    float: none;
    width: auto;
  }
}
