.respond {
  padding: 40px 0;
  background: #eee;
}

.respond-members {
  padding-top: 40px;
}

.member-image {
  display: inline-block;
  float: left;
  width: 160px;
}

.member-photo {
  border: 3px solid #fff;
  border-radius: 100%;
  height: auto;
}