.respond {
  padding: 40px 0;
  background: #eee;
}

.respond-members {
  padding-top: 40px;
}

.member-details {
  display: inline-block;
  max-width: 270px;
  padding-left: 30px;
}

.member-image {
  float: left;
  width: 200px;
  padding-left: 30px;
}

.member-photo {
  border: 3px solid #fff;
  border-radius: 100%;
  height: auto;
}